---
import Navigation from '../components/Navigation.astro';
import Hamburger from './Hamburger.astro';
import Menu from './Menu.astro';

---

<header>
  <nav>
    <Menu />
    <Hamburger />
    <Navigation />
  </nav>
</header>   